<footer
  fxLayout
  fxLayoutAlign="space-between center"
  fxLayout.md="column"
  fxLayout.xs="column">
  <div fxLayout.md
       fxLayout.xs="column"
       fxLayoutAlign.xs="center center">
    <div><a href="#"> Advertising </a></div>
    <div><a href="#"> Business </a></div>
    <div><a href="#"> About </a></div>
  </div>
  <div fxLayout.md
       fxLayout.xs="column"
       fxLayoutAlign.xs="center center">
    <div><a href="#"> Privacy </a></div>
    <div><a href="#"> Termns </a></div>
    <div><a href="#"> Settings </a></div>
    <div><a href="#"> Use Google.com </a></div>
  </div>
</footer>
