@import "src/assets/css/mixing";
@import "src/assets/css/_vars.scss";
:host {
  // top nav
  .top-nav {
    @media screen and (max-width: 761px) {
      display: none;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
      padding: 10px;
    }

    .circle-link {
      img {
        max-width: 32px;
      }
    }

    .notification-button {
      color: white;
      background: $gray;
      border-radius: 50%;
      padding: 5px;
      text-align: center;
      font-size: 19px;
    }
  }
}
